*background:	#20242c
*foreground:	#b3b8c4

! Black
*color0:	#3e4853
! DarkRed
*color1:	#b06a58
! DarkGreen
*color2:	#95b47b
*color3:	#e5c078
*color4:	#58698c
*color5:	#7b5e8d
*color6:	#82a1b2
*color7:	#cccaca

! DarkGrey
*color8:	#525c67
! Red
*color9:	#ba7e6c
! Green
*color10:	#a9c88f
*color11:	#f9d48c
*color12:	#6c7da0
*color13:	#8f72a1
*color14:	#96b5c6
*color15:	#e0dede

!URxvt*background: #151515
!URxvt*foreground: #aeaeae

URxvt.intensityStyles:false
!URxvt.background:       [70]#000000
URxvt.depth:		32
URxvt.letterSpace: 	0
URxvt.lineSpace:	1
!URxvt*font:	xft:Terminess Powerline:pixelsize=16,style=regular
URxvt*font:	xft:Office Code Pro:pixelsize=14,style=regular
!URxvt*font:	xft:Source Code Pro for Powerline:pixelsize=14,style=regular
!URxvt*font:	xft:Inconsolata for Powerline:pixelsize=16,style=regular
!URxvt*font:	xft:Hack:size=11
!URxvt*font:	xft:Ohsnap:style=Slash:size=11
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.perl-ext-common:	default,matcher,resize-font
URxvt.perl-lib:		$HOME/.config/Scripts
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
urxvt*depth: 32
!URxvt.transparent:	true
!URxvt.shading:		20
!URxvt.blurRadius: 	15

!urxvt*background: rgba:0000/0000/0200/c800
!urxvt*background: rgba:0000/0000/0200/ffff

!URxvt.colorUL:		#4682B4
rofi.color-enabled:	true
rofi.color-window:	#000, #000, #000
rofi.color-normal:	#111, #819396, #222, #008ed4, #ffffff
rofi.color-active:	#002b37, #008ed4, #003643, #008ed4, #66c6ff
rofi.color-urgent:	#002b37, #da4281, #003643, #008ed4, #890661

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30
!
Xft.hinting: true
Xft.hintstyle: hintfull
! Xft.antialias: true
! Xft.autohint: 0
! Xft.rgba: rgb
! Xft.dpi: 96
! Xft.lcdfilter: lcddefault
